<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All we hear is radio gaga</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background: url("{{ url_for('static', path='images/root_background.jpg') }}") no-repeat center center fixed;
            background-size: 100% auto;
            background-color: #282c34;
            color: white;
        }
        h1 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <p>Under construction</p>
</body>
</html>